---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

// Information to construct the page routes
export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];   
  
  return uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
  return {
    params: { tag },
    props: { posts: filteredPosts },
  };
});
}

// Information to receive from the HTML template
const {tag} = Astro.params;
const {posts} = Astro.props;
---
<BaseLayout pageTitle={ `#${tag}`}>



  <ul>
    {posts.map((post: any) => <BlogPost url={`${post.url}/?fromTag=${tag}`} title={post.frontmatter.title} date={post.frontmatter.pubDate} tag={""}/>)}
  </ul>
  <div class="text-right" >
    
  <a class ="secondary-a" href="/blog/"> Return to posts</a>
 </div>  
</BaseLayout>




