---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SketchyLine from '../components/SketchyLine.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));


// Sort by date (newest first)
const sortedPosts = allPosts.sort((a, b) => {
  const dateA = new Date((a as { frontmatter: { date: string } }).frontmatter.date);
  const dateB = new Date((b as { frontmatter: { date: string } }).frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});

// Get the last 3 posts (most recent)
const latestPosts = sortedPosts.slice(0, 3);
const featuredProjects= allProjects.slice(0,)
const pageTitle = "I'm Joseph 🌱";
---
<BaseLayout pageTitle={pageTitle}>
  
<p class="text-justify">
Hi, I build  web and iOS   <a class="text-[#0077cc] no-underline font-bold hover:underline" href= "/projects/"> apps</a> help people track and learn about their hobbies. 
It's a great feeling to step out from the sidelines and share what I can. 
</p>
<SketchyLine/>
<div class="flex items-center gap-3">
<h1 > Posts </h1>

</div>
</div>
{latestPosts.map((post: any) => 
<BlogPost 
url={post.url} 
date= {post.frontmatter.pubDate} 
title={post.frontmatter.title} 
description = {post.frontmatter.description} 
tag= {post.frontmatter.tags[0]}/>)}

<p class="text-right" ><a class= "text-[#0077cc] no-underline font-bold hover:underline" href="/blog/">All Posts </a>

</p>
<SketchyLine />


<div class="flex items-center gap3 ">
  <h1>Projects </h1>
  <p></p>
  </div>

  
<div class="flex gap-3 flex-wrap justify-around my-1">
{allProjects.map((project: any) =>



 (<ProjectCard 
 url = {project.url}
 stack= {project.frontmatter.stack}
 title = {project.frontmatter.title}
 description = {project.frontmatter.description}/>))}
 
</div>
<p class="text-right"><a class="text-[#0077cc] text-center  no-underline font-bold hover:underline" href="/projects/"> All Projects  </a></p>
</div>

 

  
</BaseLayout>

