---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
const pageTitle = "Projects";
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>

    <div class="flex flex-col">
        {allProjects.map((project: any) =>
        
        
        
         (<ProjectCard 
         url = {project.url}
         stack= {project.frontmatter.stack}
         title = {project.frontmatter.title}
         description = {project.frontmatter.description}/>))}
         
        </div>
       
        </div>
    
  

  
 
 
</BaseLayout>