---
const {url,date,title, description, tag} = Astro.props;
const dateOptions: object = {
  timeZone: 'America/New_York',
	year: "numeric",
	month: "long",
	day: "numeric",

};


const formattedPublishDate = new Date(date).toLocaleString("en-US", dateOptions);
---



<a href={url} >
<div class=" mb-5 px-10 py-5 border-3 pl-4 blog-container dark-container ">
    
  
        <div class="flex flex-col">
          <h2 >{title}</h2>
          <div class="flex gap-1">
          <img class=" svg-icon w-5 h-5"  src="/images/calendar.svg" alt="calendar">
          <p class="text-sm mb-2 pubDate">{formattedPublishDate}</p>
          </div>
        </div>
     
   
      <p class =" text-sm text-justify">{description} </p>
      <p class="tag">{tag ? `#${tag}` : ''}</p>
    


</div>
</a>




<style>

.blog-container {
  position: relative;
  border-color: rgb(48, 48, 47);
  background-color: rgba(241, 234, 234, 0.943);
  border-radius: 4% 2% 73.5% 73.5% / 72% 20% 3.5% 2.5%;
  border-width: 2px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.blog-container:hover  {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.blog-container h2 {

    display: block;
    font-size: 1.5rem;

 
  
  
}




.blog-container:hover h2 {
  
  text-decoration: underline;
}

.tag {

  margin-top: 1rem;
  

  
}

.pubDate {
  font-size: 0.9rem;
  
  margin-bottom: 0.4rem;
  color: var(--soil-color);
  
  
}

html.dark .pubDate {
  
  color: hsla(27, 15%, 88%, 0.954);
}


@media screen and (min-width: 636px) {

  .blog-container h2 {
    font-size: 1.4rem;
  }

  .pubDate {
    font-size: 1rem;
  }

  .tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1rem;
   margin: 0;
  
}

  

}






</style>