---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};


const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", dateOptions);
---

<BaseLayout pageTitle={frontmatter.title}>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div>
  <div class="flex gap-1">
    <img class=" svg-icon w-5 h-5"  src="../images/calendar.svg" alt="calendar">
    <p class="text-sm mb-2 pubDate">{formattedPublishDate}</p>
   
    <div class="tagsflex gap- ">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag dark-container"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>
  </div>

<p><em>{frontmatter.description}</em></p>



<slot />

<p class=" text-right" ><a href="/blog" class="secondary-a no-underline text-right font-bold hover:underline">Return to #{frontmatter.tags[0]}</a></p>
</BaseLayout>


<style>


.tag {
		
	
  
    border-color: rgb(48, 48, 47);
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgba(241, 234, 234, 0.943);
    border-radius: 55.5% 50.5% 49.5% 53% / 8% 1% 8% 1%;
    border-width: 2px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  .tag:hover  {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
    
    
</style>
