---
import BaseLayout from "../layouts/BaseLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Separator from "../components/Separator.astro";
import CommentForm from "../components/CommentForm.astro";
import CommentList from "../components/CommentList.astro";

const { frontmatter, headings } = Astro.props;
const dateOptions: Intl.DateTimeFormatOptions = {
  timeZone: 'America/New_York',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
};





const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleString("en-US", dateOptions);

---

<BaseLayout pageTitle={frontmatter.title}>

  <div class="grid">
    
  <TableOfContents headings= {headings} />
  </div>
  <div class="post-content">
    
  <div class="flex gap-1">
    <img class=" svg-icon w-5 h-5"  src="/images/calendar.svg" alt="calendar">
    <p class="text-sm mb-2 pubDate">{formattedPublishDate} EST</p>
    
  </div>
   

<p><em>{frontmatter.description}</em></p>
    <div class="tags flex gap-3 ">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag dark-container">
         <a href={`/tags/${tag}`}>{tag}</a>
        </p>
    
      ))}

     
    </div>
  
    <Separator/>
 
 
  </div>





<slot />

<p class="text-right">
  <a id="returnLink" href="#" class="secondary-a ">
    
  </a>
</p>
</div>
<Separator/>
<CommentList  postSlug={frontmatter.postSlug} />
<CommentForm postSlug={frontmatter.postSlug}/>
</div>

</BaseLayout>




<script>
  const fromTag = new URLSearchParams(window.location.search).get('fromTag');
  if (fromTag) {
    const returnLink = document.getElementById('returnLink');
    if (returnLink instanceof HTMLAnchorElement ) {
      returnLink.href = `/tags/${fromTag}`;
      returnLink.textContent = `Return to #${fromTag}`;
    }
  
  }

  
  
</script>


<style>


.tag {
		
	
  
    border-color: rgb(48, 48, 47);
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
    
    background-color: var(--white-background-color);
    border-radius: 55.5% 50.5% 49.5% 53% / 8% 1% 8% 1%;
    border-width: 2px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }
  .tag:hover  {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
    
    
</style>
