---
import { db, Comment, eq, desc } from 'astro:db';
import BaseLayout from '../../layouts/BaseLayout.astro';
export const prerender = false;

const comments = await db
  .select()
  .from(Comment)
  .orderBy(desc(Comment.published))
  .where(eq(Comment.approved, false));

const dateOptions: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
};
---

<BaseLayout pageTitle="Comments Panel">

  <h2> Pending Comments</h2>

  <div class="comment-container">
    {comments.map((comment) => (
      <div class="comment">
        <p>{comment.id}</p>
        <p>{comment.postSlug}</p>
        <p>{comment.author}</p>
        <p>{comment.website}</p>
        <p>{comment.body}</p>
        <p>{comment.published.toLocaleDateString("en-US", dateOptions)}</p>

        <div class="approval-container">
          <button type="button" class="approve-button" data-id={comment.id}>Approve</button>
          <button type="button" class="reject-button" data-id={comment.id}>Reject</button>
        </div>
      </div>
    ))}
  </div>

  <script is:inline>
    async function approveComment(id) {
      const res = await fetch("/api/approve_comment", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id }),
      });
      const result = await res.json();
      if (result.success) location.reload();
    }

    document.addEventListener("click", (event) => {
      if (event.target.matches(".approve-button")) {
        const id = event.target.getAttribute("data-id");
        approveComment(id);
      }
    });

    async function deleteComment(id) {
      console.log("clicked")
      const res = await fetch("/api/delete_comment", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id }),
      });
      const result = await res.json();
      if (result.success) location.reload();
    }

    document.addEventListener("click", (event) => {
      if (event.target.matches(".reject-button")) {
        const id = event.target.getAttribute("data-id");
        deleteComment(id);
      }
    });
  </script>

  <style>
    .comment {
      border: 1px solid gray;
      margin-bottom: 3rem;
      padding: 1rem;
    }

    .comment p {
      margin-bottom: 1rem;
    }

    .approval-container {
      display: flex;
      gap: 3rem;
      justify-content: flex-end;
      padding: 1rem;
    }

    .approve-button {
      background-color: rgb(10, 87, 10);
      color: white;
      padding: 1rem;
      width: 8rem;
      border: none;
      cursor: pointer;
    }

    .reject-button {
      background-color: rgb(130, 37, 37);
      color: white;
      padding: 1rem;
      width: 8rem;
      border: none;
      cursor: pointer;
    }
  </style>

</BaseLayout>